/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/05/2021, 05:14:51 PM
    Author     : EZ-Home
*/

.slider {
    width: 80%;
    margin-left: 510px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: -5;
    text-align: left;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: cambio 20s infinite;
    animation-timing-function: ease-in-out;
       z-index: -5;
}

.slider li {
    width: 100%;
    list-style: none;
       z-index: -5;
}

.slider img {
    width: 768px;
    height: 432px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: inset 0 0 5px red, 0 0 10px red;
       z-index: -5;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    19% {
        margin-left: 0;
    }

    24% {
        margin-left: -100%;
    }
    43% {
        margin-left: -100%;
    }

    48% {
        margin-left: -200%;
    }
    67% {
        margin-left: -200%;
    }

    72% {
        margin-left: -300%;
    }
    91% {
        margin-left: -300%;
    }

    100% {
        margin-left: 0;
    }
}

.titulo{
    z-index: -5;
    margin-top: 2%;
}

.titulo img{
    width: 38%;
    height:38%;
}

